#### 데이터모델
모델(Model)
- 본보기가 되는 대상이나 모범
- 여러 개 중에서 본보기나 모범이 되는 것
- 복잡한 것을 중요한 것 위주로 단순화시켜 추상화한 것

- 나무는 가지부분과 잎사귀 부분으로 나누어진다(추론가능)
- fixed_acidity 성분이 높으면 quality 높다
- quality의 평균은 통계적으로 유의미한 차이가 없다

#### T검증
두 집단 간의 평균이 통계적으로 유의미한 차이를 보이고 있는지의 여부를 검증할 때 사용되는 분석방법
- 예1. 신제품에 대한 구매의도가 남녀 간에 차이가 있는지
- 예2. 교육수준이 같은 집단에서 남녀 간에 소득수준의 차이가 있는지

###### 기각역(Critical Region)
- 검정통계량(t값)이 기각역에 위치하면 귀무가설을 기각한다.

In [2]:
import pandas as pd
wine = pd.read_csv("./wine.csv", sep=',', header=0, engine='python')

In [3]:
wine.groupby('type')['quality'].describe()

        count      mean       std  min  25%  50%  75%  max
type
red    1599.0  5.636023  0.807569  3.0  5.0  6.0  6.0  8.0
white  4898.0  5.877909  0.885639  3.0  5.0  6.0  6.0  9.0

In [4]:
wine.groupby('type')['quality'].mean()

type
red      5.636023
white    5.877909
Name: quality, dtype: float64

In [5]:
wine.groupby('type')['quality'].std()

type
red      0.807569
white    0.885639
Name: quality, dtype: float64

In [6]:
wine.groupby('type')['quality'].agg(['mean', 'std'])

           mean       std
type
red    5.636023  0.807569
white  5.877909  0.885639

In [7]:
from scipy import stats

In [10]:
red_wine_quality = wine.loc[wine['type'] == 'red', 'quality']
print(red_wine_quality)

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [11]:
white_wine_quality = wine.loc[wine['type'] == 'white', 'quality']
print(white_wine_quality)

1599    6
1600    6
1601    6
1602    6
1603    6
       ..
6492    6
6493    5
6494    6
6495    7
6496    6
Name: quality, Length: 4898, dtype: int64

In [12]:
stats.ttest_ind(red_wine_quality, white_wine_quality, equal_var = False)

Ttest_indResult(statistic=-10.149363059143164, pvalue=8.168348870049682e-24)

In [14]:
8.1*0.0000000000000000000000001  #평균차이가 있다

8.1e-25